streamlit==1.52.1
pandas==2.3.3
numpy==2.3.5
json-repair==0.1.10

google-genai==0.3.0
google-api-core==2.28.1
google-auth==2.43.0
googleapis-common-protos==1.72.0

openai==1.51.0
tqdm==4.67.1
requests==2.32.3
protobuf==5.29.0
